.DS_Store
.bin/cliclick
.bin/micro
.bin/ngrok
.git-sendemail*
.vim-flavor/
.vim/.netrwhist
/doc/tags
/doc/tags
VimFlavor.lock
bin/cliclick
bin/docker*
bin/fig
bin/packer
bin/packer-*
bin/terraform
bin/terraform-*
tags
xmonad-i386-linux
xmonad.errors
xmonad.hi
xmonad.o
