[core]
    editor= /usr/bin/vi

[alias]
    st = status

    cl = clone

    ci = commit
    cm = commit -m
    cma = commit -a -m
    ca = commit --amend
    caa = commit -a --amend -C HEAD

    ai = add --interactive

    co = checkout
    br = branch -ra
    ls = log --oneline --decorate
    ll = log --oneline --decorate --numstat
    le = log --pretty=format:"%h %ad | %s%d [%an]" --graph --date=short
    diff = diff --word-diff
    d = diff --word-diff
    branch = branch -ra
    uiu = update-index --assume-unchanged

    r = reset
    r1 = reset HEAD^
    r2 = reset HEAD^^
    rh = reset --hard
    rh1 = reset HEAD^ --hard
    rh2 = reset HEAD^^ --hard

[color]
    branch = auto
    diff = auto
    status = auto

[color "branch"]
    current = red reverse
    local = blue
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[user]
    email = durden@gmail.com
    name = Nicola Paolucci
[push]
	default = current
[pull]
	default = current
