[core]
    editor= /usr/bin/vi
    excludesfile = /Users/nick/.gitignore_global

[alias]
    st = status

    cl = clone

    ci = commit
    cm = commit -m
    cma = commit -a -m
    ca = commit --amend
    amend = commit --amend
    caa = commit -a --amend -C HEAD
    filelog = log -u

    ai = add --interactive

    co = checkout
    br = branch -ra
    ls = log --oneline --decorate
    ll = log --oneline --decorate --numstat
    le = log --pretty=format:"%h %ad | %s%d [%an]" --graph --date=short
    diff = diff --word-diff
    d = diff --word-diff
    dc = diff --cached
    branch = branch -ra
    uiu = update-index --assume-unchanged
    uin = update-index --no-assume-unchanged

    r = reset
    r1 = reset HEAD^
    r2 = reset HEAD^^
    rh = reset --hard
    rh1 = reset HEAD^ --hard
    rh2 = reset HEAD^^ --hard

    #git svn
    svnr = svn rebase
    svnd = svn dcommit
    svnl = svn log --oneline --show-commit

    #stash
    sl = stash list
    sa = stash apply
    ss = stash save

    cp = cherry-pick
    grep = grep -I
    gr = grep -I

[color]
    branch = auto
    diff = auto
    status = auto

[color "branch"]
    current = red reverse
    local = blue
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[user]
	email = nick@durdn.com
	name = Nicola Paolucci
[push]
    default = tracking
[pull]
    default = current
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[diff]
  memonicprefix = true
[branch]
  autosetupmerge = true
[apply]
  whitespace = nowarn
