*.pyc
.DS_Store
.DS_Store
.vim-flavor/
.vim/.netrwhist
.vim/.netrwhist
/doc/tags
VimFlavor.lock
bin/terraform
bin/terraform-provider-aws
bin/terraform-provider-consul
bin/terraform-provider-digitalocean
bin/terraform-provider-dnsimple
bin/terraform-provider-heroku
bin/terraform-provisioner-file
bin/terraform-provisioner-local-exec
bin/terraform-provisioner-remote-exec
tags
xmonad-i386-linux
xmonad.errors
xmonad.hi
xmonad.o
