termcapinfo xterm* ti@:te@
startup_message off
vbell off
autodetach on
altscreen on
shelltitle "$ |bash"
defscrollback 10000
defutf8 on
nonblock on

#escape character is ` instead than C-a
escape ``
defescape ``

# go to next screen with `j
bind j next
# go to prev screen with `j
bind k prev
# open a new shell with `n
bind n
bind n screen -t bash bash
#rename screen window with `r
bind r title 

hardstatus alwayslastline
hardstatus string  '%{= dr}[%{= dr}%H%{= dr}]%{= dw} %-Lw%{= kg}|%n %t|%{-}%+Lw%0> %=[%{b}%l%{w}]%{w}[%{b} %d/%m/%y %C %A %{w}]%{w}'

chdir $HOME/dev/projects/tarot
screen -t code bash
screen -t server bash -cl "source $HOME/dev/envs/tarot/bin/activate && python ./manage.py runserver 192.168.56.101:8000"
chdir $HOME/dev/projects/tarot/static
screen -t compass compass watch
chdir $HOME/dev/projects/tarot/static/js
screen -t coffee coffee -wc order.coffee
select 0
